.output {
  margin-top: 20px;
  font-size: 30px;
  font-family: sans-serif;
}

.buttons {
  margin-top: 30px;
}

.buttons button {
  font-size: 15px;
  background-color: whitesmoke;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 2px;
}

.disabled {
  pointer-events: none;
  color: grey;
}
